@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');

.card{
    background: none;
    margin-bottom: 5px;
    padding: 0;
    margin: auto;
    width: 80vw;
}
.card-title{
    font-family: 'Kanit', sans-serif;
    font-size: 20vh;
    height: 20vh;
  }

.card-subtitle{
    font-size: 10vh;
    height: 10vh;
}

.card-text{
    font-size: 3vh;
}

